/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
}

main > header{
    text-align: center;
    padding: 2rem 0;
}

h1{
    margin-bottom: 2rem;
}

.main-title{
    color: red;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.column{
    float: left;
    width: calc(100% / 3);
    height: calc(100px + 2.5rem);
    padding: 1.25rem;
}

.card{
    height: 100%;
    background-color: rgb(15, 14, 23);
    color: white;
}

.card img{
    height: 100%;
    width: 35%;
    float: left;
}

.card section.contents{
    float: left;
    width: calc(100% - 100px);
    height: 100%;
    padding: 8px 0 5px 5px;
}

.card section.contents > *{
    margin-bottom: .5rem;
}

.card-name{
    text-transform: uppercase;
    font-weight: 700;
}

.card-email{
    color: rgb(63, 193, 255);
    font-size: x-small;
}

.card-work{
    font-size: small;
}